$open-sans: 'Open Sans', sans-serif !important;
$montserrat: 'Montserrat', sans-serif !important;

$fw-bold: 700 !important;
$fw-regular: 400 !important;
$fw-light: 300 !important;

$plain-text: 18px !important;
$line-height: 35px !important;

.open-sans {
    font-family: $open-sans;
}

.montserrat {
    font-family: $montserrat;
}

@mixin _plain-text {
    font-family: $open-sans;
    font-size: 18px;
    line-height: $line-height;
    color: $white-color;

    @include md {
        font-size: 25px;
        line-height: 45px !important;
    }
}

.plain-text {
    @include _plain-text;
}

@mixin _caption {
    font-family: $open-sans;
    color: $pink-color;
    font-weight: $fw-bold;
    font-size: 18px;
    line-height: $line-height;

    @include md {
        font-size: 25px;
        line-height: 45px !important;
    }
}

.caption {
    @include _caption
}

@mixin _text-header {
    color: $pink-color;
    font-size: 18px;
    font-weight: $fw-bold;
    line-height: $line-height;

    @include md {
        font-size: 25px;
    }
}   

.text-heading {
    @include _text-header;
}

@mixin _title {
    font-family: $montserrat;
    color: $white-color;
    font-weight: $fw-bold;
    font-size: 30px;
    padding: 10px;
    background-color: $grey-color;


    @include md {
        font-size: 60px;
    }
}

@mixin _title-caption {
    font-family: $montserrat;
    color: $black-color;
    font-size: 12px;
    font-weight: $fw-bold;
    padding: 10px;
    background-color: $white-color;
    display: inline-block;

    @include md {
        font-size: 25px;;
    }
}

.-title {
    @include _title;
}

.-title-caption {
    @include _title-caption;
}
