$xs: "(min-width: 0px)";
$sm: "(min-width: 576px)";
$md: "(min-width: 768px)";
$lg: "(min-width: 992px)";
$xl: "(min-width: 1200px)";


@mixin xs {
	@media #{$xs}  {
		@content;
	}
}
@mixin sm {
	/*
		@include sm{
			.home{
				float:left;	
			}
		}
	*/
	@media #{$sm}  {
		@content;
	}
}
@mixin md{
	@media #{$md}  {
  		@content;
	}
}
@mixin lg {
	@media #{$lg}  {
		@content;
	}
}
@mixin xl {
	@media #{$xl}  {
		@content;
	}
}