//color
$black-color: #121212 !important;
$grey-color: #2C2C2E !important;
$pink-color: #CF6679 !important;
$white-color: #fff !important;

// font
$fw-bold: 700 !important;
$fw-regular: 400 !important;
$fw-light: 300 !important;

$plain-text: 18px !important;
$line-height: 35px !important;
